{% extends 'blocks/base.html' %}

{% block title %}
All Blocks
{% endblock %}

{% block body %}
    {% if is_paginated %}
        {% include 'blocks/pagination.html' %}
    {% endif %}
    {% for block_data in object_list %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block">
                    <a href="/block/{{ block_data.hash }}">
                        {% include 'blocks/block.html' %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'blocks/pagination.html' %}
    {% endif %}
{% endblock %}
