{% extends 'blocks/base.html' %}

{% block title %}
Block {{ block_data.height }}
{% endblock %}

{% block body %}
    <div class="row block-row">
    </div>
    <div class="row">
        <div class="col-md-1 block-link text-center">
            {% if block_data.previous_block %}
                <a href="/block/{{ block_data.previous_block.hash }}">
                    Previous Block
                </a>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="block">
                {% include 'blocks/block.html' %}
                <div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {{ block_data.transactions.count }} Transactions
                        </div>
                    </div>
                    {% for tx in block_data.transactions.all %}
                        {% include 'blocks/tx.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1 block-link text-center">
            {% if block_data.next_block %}
                <a href="/block/{{ block_data.next_block.hash }}">
                    Next Block
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}}