<div class="row block-row">
    <div class="tag col-md-1 text-right">Hash:</div><div class="block-hash col-md-5 text-left block-var">{{ block_data.hash }}</div>
    <div class="tag col-md-1 text-right">Height:</div><div class="block-height col-md-1 text-left block-var">{{ block_data.height }}</div>
    <div class="tag col-md-1 text-right">Time:</div><div class="block-time col-md-2 text-left block-var">{{ block_data.time }}</div>
</div>
<div class="row block-row">
    <div class="tag col-md-1 text-right">Merkle:</div><div class="block-merkle col-md-5 text-left block-var">{{ block_data.merkle_root }}</div>
    <div class="tag col-md-1 text-right">Bits:</div><div class="block-nonce col-md-1 text-left block-var">{{ block_data.bits }}</div>
    <div class="tag col-md-1 text-right">Difficulty:</div><div class="block-difficulty col-md-2 text-left block-var">{{ block_data.difficulty }}</div>
</div>
<div class="row block-row">
    <div class="tag col-md-1 text-right">Proof:</div><div class="block-merkle col-md-5 text-left block-var">{{ block_data.proof_hash }}</div>
    <div class="tag col-md-1 text-right">Mint:</div><div class="block-nonce col-md-1 text-left block-var">{{ block_data.mint }}</div>
    <div class="tag col-md-1 text-right">Coinage:</div><div class="block-difficulty col-md-2 text-left block-var">{{ block_data.coinage_destroyed }}</div>
</div>