<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/search/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% for result in results %}
    {% if result.class_type == 'Block' %}
        <h4>
            <a href="/block/{{ result.hash }}">{{ result.class_type }}</a>
        </h4>
        <p>
            Height: {{ result.height }}<br />
            Hash: {{ result.hash }}<br />
            Time: {{ result.time }}
        </p>
    {% endif %}
    {% if result.class_type == 'Transaction' %}
        <h4>
            <a href="/tx/{{ result.tx_id }}">{{ result.class_type }}</a>
        </h4>
        <p>
            Block: <a href="/block/{{ result.hash }}">{{ result.block }}</a><br />
            Transaction ID: {{ result.tx_id }}<br />
            Coin Base: {{ result.is_coin_base }}<br />
            Coin Stake: {{ result.is_coin_stake }}
        </p>
    {% endif %}
    {% if result.class_type == 'Address' %}
        <h4>
            <a href="/tx/{{ result.address }}">{{ result.class_type }}</a>
        </h4>
        <p>
            Balance: {{ result.balance }}
        </p>
    {% endif %}
{% endfor %}
</body>
</html>