<div class="tx-input">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                {% if input.output_transaction %}
                    <div class="col-md-6 tx-tag text-center">Tx Output</div>
                    <div class="col-md-6 text-left wrap">
                        <a href="/block/{{ input.output_transaction.block.hash }}">
                            {{ input.output_transaction.tx_id }}
                        </a>
                    </div>
                {% endif %}
                {% if input.v_out %}
                    <div class="col-md-6 tx-tag text-center">Output N</div>
                    <div class="col-md-6 text-left wrap">
                        {{ input.v_out }}
                    </div>
                {% endif %}
            </div>
            <div class="row tx-row">
                <div class="col-md-6 tx-tag text-center">Sequence</div>
                <div class="col-md-6 text-left wrap">{{ input.sequence }}</div>
            </div>
            {% for output in input.output_transaction.outputs.all %}
                {% if output.n == input.v_out %}
                    <div class="row tx-input-row">
                        <div class="col-md-12 text-center tx-input-address">
                            {% for address in output.addresses.all %}
                                {{ address.address }}
                            {% endfor %}
                        </div>
                        <div class="col-md-12 text-center tx-input-value">
                            {{ output.value }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-2 text-right">
            <span class="tx-input-indicator">
                >
            </span>
        </div>
    </div>
</div>