<div class="tx-output">
    <div class="row">
        <div class="col-md-2 text-left">
            <span class="tx-output-indicator">
                >
            </span>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-11 text-center">{{ output.n }}</div>
            </div>
            <div class="row tx-row">
                {% if output.script_pub_key_asm %}
                    <div class="col-md-6 tx-tag text-center">Script Pub Key</div>
                    <div class="col-md-6 text-left wrap">{{ output.script_pub_key_asm }}</div>
                {% endif %}
                <!--{% if output.script_pub_key_hex %}
                    <div class="col-md-6 tx-tag text-center">Script Pub Key HEX</div>
                    <div class="col-md-6 text-left wrap">{{ output.script_pub_key_hex }}</div>
                {% endif %}-->
                {% if output.script_pub_key_type %}
                    <div class="col-md-6 tx-tag text-center">Script Pub Key Type</div>
                    <div class="col-md-6 text-left wrap">{{ output.script_pub_key_type }}</div>
                {% endif %}
                {% if output.script_pub_key_req_sig %}
                    <div class="col-md-6 tx-tag text-center">Script Pub Key Req Sig</div>
                    <div class="col-md-6 text-left wrap">{{ output.script_pub_key_req_sig }}</div>
                {% endif %}
            </div>
            {% if output.addresses.count > 0 %}
                <div class="row tx-input-row">
                    <div class="col-md-11 text-center tx-output-address">
                        {% for address in output.addresses.all %}
                            {{ address.address }}
                        {% endfor %}
                    </div>
                {% if output.value > 0.0 %}
                    <div class="col-md-11 text-center tx-output-value">
                        {{ output.value }}
                    </div>
                    {% if output.is_unspent %}
                        <div class="col-md-11 text-center unspent">Un-spent</div>
                    {% else %}
                        <div class="col-md-11 text-center spent">Spent</div>
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>