<html>

{% load static %}
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

     <!-- Channels Websockets -->
    <script type="text/javascript" src='{% static "channels/js/websocketbridge.js" %}'></script>
</head>
<body>
<div id="entry-bar">
    <form>
        <input type="search" />
        <input type="submit" />
</div>
<div id="tx_browser"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet({{ nodes|safe }});
    // create an array with edges
    var edges = new vis.DataSet({{ edges|safe }});

    // create a network
    var container = document.getElementById('tx_browser');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};


    // initialize your network!
    var network = new vis.Network(container, data, options);

    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/tx_browser/');

    webSocketBridge.socket.addEventListener('open', function() {
        webSocketBridge.listen(function(data) {
            if (data["message_type"] === "new_browser"){
                console.log(data["nodes"]);
                console.log(data["edges"]);
                network.setData(data["nodes"], data["edges"]);
            }
            if (data["message_type"] === "node"){
                try {
                    nodes.add(data["node"])
                } catch (err) {
                    // node already exists
                }
            }
            if (data["message_type"] === "edge"){
                try {
                    edges.add(data["edge"])
                } catch (err) {
                    console.log(err)
                }
            }
        });
    });

    network.on("selectNode", function(e) {
        var childNodes = network.getConnectedNodes(e.nodes[0], "to");
        if (childNodes.length === 0){
            var node = nodes.get(e.nodes[0]);
            webSocketBridge.stream('add_nodes').send(
                {
                    'host': window.location.hostname,
                    'node': node
                }
            );
        }
    });
</script>
</body>
</html>
