<html>

{% load static %}
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

     <!-- Channels Websockets -->
    <script type="text/javascript" src='{% static "channels/js/websocketbridge.js" %}'></script>
</head>
<body>
<div id="entry-bar">
    <form>
        <input type="search" />
        <input type="submit" />
    </form>
    <button id="stabilize" onClick="network.stabilize()">Stabilize</button>
</div>
<div id="tx_browser"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet({{ nodes|safe }});
    // create an array with edges
    var edges = new vis.DataSet({{ edges|safe }});

    // create a network
    var container = document.getElementById('tx_browser');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);

    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/tx_browser/');

    webSocketBridge.socket.addEventListener('open', function() {
        webSocketBridge.listen(function(data) {
            if (data["message_type"] === "node"){
                try {
                    nodes.add(data["node"]);
                } catch (err) {
                    // node already exists
                    console.log("node " + data["node"]["id"] + " already exists")
                }
            }
            if (data["message_type"] === "edge"){
                try {
		            edges.add(data["edge"]);
                } catch (err) {
                    // edge already exists
                    console.log("edge " + data["edge"]["id"] + " already exists")
                }
            }
	    if (data["message_type"] === "stabilize"){
		network.stabilize();
		network.unselectAll();
	    }
        });
    });

    network.on("selectNode", function(e) {
        var node = nodes.get(e.nodes[0]);
        webSocketBridge.stream('add_nodes').send(
            {
                'host': window.location.hostname,
                'node': node
            }
        );
    });

    network.on("doubleClick", function(e) {
	console.log(e);
	
	var childNodes = network.getConnectedNodes(e.nodes[0], "to");
	childNodes.forEach(function(node) {
	    nodes.remove(node);
	});

	var connectedEdges = network.getConnectedEdges(e.nodes[0]);
	connectedEdges.forEach(function(edge) {
	    edges.remove(edge);
	});
	
	nodes.remove(e.nodes[0]);
    });
</script>
</body>
</html>
