<html>

{% load static %}
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>

     <!-- Channels Websockets -->
    <script type="text/javascript" src='{% static "channels/js/websocketbridge.js" %}'></script>
</head>
<body>
<div id="tx_browser"></div>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet({{ nodes|safe }});
    // create an array with edges
    var edges = new vis.DataSet({{ edges|safe }});

    // create a network
    var container = document.getElementById('tx_browser');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        physics: {
            forceAtlas2Based: {
                gravitationalConstant: -26,
                centralGravity: 0.005,
                springLength: 230,
                springConstant: 0.18,
                avoidOverlap: 1.5
            },
            maxVelocity: 146,
            solver: 'forceAtlas2Based',
            timestep: 0.35,
            stabilization: {
                enabled: true,
                iterations: 1000,
                updateInterval: 25
            }
        },
        layout: {
            improvedLayout: false
        }
    };


    // initialize your network!
    var network = new vis.Network(container, data, options);

    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/tx_browser/');

    webSocketBridge.socket.addEventListener('open', function() {
        webSocketBridge.listen(function(data) {
            if (data["message_type"] === "new_browser"){
                console.log(data["nodes"]);
                console.log(data["edges"]);
                network.setData(data["nodes"], data["edges"]);
{#                network.redraw();#}
            }
        });
    });

    network.on("stabilizationIterationsDone", function () {
        network.setOptions( { physics: false } );
    });

    network.on("selectNode", function(e) {

        var seed_nodes = [];
        var main_node = '';
        e.nodes.forEach(function(node) {
            main_node = nodes.get(node);
            network.getConnectedNodes(node, 'from').forEach(function(parent_node) {
                var this_node = nodes.get(parent_node);
                seed_nodes.push(this_node);
            });
        });

        webSocketBridge.stream('browser').send(
            {
                'host': window.location.hostname,
                'main_node': main_node,
                'seed_nodes': seed_nodes
            }
        );
    });
</script>
</body>
</html>
