{% extends 'base.html' %}

{% load static humanize %}

{% block title %}
    Liquidity Operations
{% endblock %}

{% block head %}
    <!-- main stylesheet -->
    <link rel="stylesheet" href="{% static 'charts/css/main.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="row spacer">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2>Latest Balances</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered table-responsive table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <td>Exchange</td>
                        <td>Amount</td>
                        <td>Asset</td>
                        <td>USD Price</td>
                        <td>USD Value</td>
                        <td>Time</td>
                    </tr>
                </thead>
                <tbody>
                    {% for balance in latest_balances %}
                        <tr>
                            <td>{{ balance.exchange }}</td>
                            <td>{{ balance.value|floatformat:8|intcomma }}</td>
                            <td>{{ balance.currency.code }}</td>
                            <td>{{ balance.usd_price|floatformat:2|intcomma }}</td>
                            <td>{{ balance.value_usd|floatformat:2|intcomma }}</td>
                            <td class="{{ balance.time_warning }}">{{ balance.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row spacer">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2>Supply</h2>
            </div>
        </div>

    </div>
{% endblock %}
