{% extends 'base.html' %}

{% block title %}Trade List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% include 'pagination.html' %}
        </div>
    </div>
    <div class="row spacer">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered table-compact table-striped table-hover">
        <thead>
            <tr>
                <td>Date/Time</td>
                <td>Exchange</td>
                <td>Quote</td>
                <td>Base</td>
                <td>Type</td>
                <td>Amount</td>
                <td>Rate</td>
                <td>Total</td>
                <td>Amount USD</td>
                <td>Rate USD</td>
                <td>Total USD</td>
                <td>Quote USD Price</td>
                <td>Base USD Price</td>
            </tr>
        </thead>
        <tbody>
            {% for trade in object_list %}
                <tr>
                    <td>{{ trade.date_time }}</td>
                    <td>{{ trade.pair.exchange }}</td>
                    <td>{{ trade.pair.quote_currency.code }}</td>
                    <td>{{ trade.pair.base_currency.code }}</td>
                    <td>{{ trade.order_type }}</td>
                    <td>{{ trade.amount }}</td>
                    <td>{{ trade.rate }}</td>
                    <td>{{ trade.total }}</td>
                    <td>{{ trade.adjusted_amount }}</td>
                    <td {% if 1.1 < trade.adjusted_rate %}
                            class="danger"
                        {% endif %}
                        {% if 0.9 > trade.adjusted_rate %}
                            class="danger"
                        {% endif %}>
                        {{ trade.adjusted_rate }}</td>
                    <td>{{ trade.adjusted_total }}</td>
                    <td>{% if trade.quote_price %}1 {{ trade.pair.quote_currency.code }} = ${{ trade.quote_price }}{% endif %}</td>
                    <td>{% if trade.base_price %}1 {{ trade.pair.base_currency.code }} = ${{ trade.base_price }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {% include 'pagination.html' %}
        </div>
    </div>
{% endblock %}
