{% extends 'charts/base.html' %}

{% block title %}Trade List{% endblock %}

{% block content %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li><a href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li><a href="#">{{ page_obj.next_page_number }}</a></li>
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <table class="table table-responsive table-bordered table-compact">
        <thead>
            <tr>
                <td>Pair</td>
                <td>ID</td>
                <td>Date/Time</td>
                <td>Type</td>
                <td>Amount</td>
                <td>Rate</td>
                <td>Total</td>
                <td>Adjusted USD Amount</td>
                <td>Adjusted USD Rate</td>
                <td>Adjusted USD Total</td>
            </tr>
        </thead>
        <tbody>
            {% for trade in object_list %}
                <tr>
                    <td>{{ trade.pair }}</td>
                    <td>{{ trade.order_id }}</td>
                    <td>{{ trade.date_time }}</td>
                    <td>{{ trade.order_type }}</td>
                    <td>{{ trade.amount }}</td>
                    <td>{{ trade.rate }}</td>
                    <td>{{ trade.total }}</td>
                    <td>{{ trade.adjusted_amount }}</td>
                    <td>{{ trade.adjusted_rate }}</td>
                    <td>{{ trade.adjusted_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
