[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "~=1.1"
Django = "~=2.2"
boto3 = "*"
bpython = "*"
django-cors-headers = "*"
django-jet = "*"
django-storages = "*"
django-tenant-schemas = "==1.9.0"
psycopg2-binary = "*"
python-memcached = "*"
asgi_redis = "*"
hiredis = "*"
django-nvd3 = "*"
celery = "~=4.4.0"
tenant-schemas-celery = "*"
django-cacheops = "==5.0.1"
django-celery-beat = "*"
flower = "*"
redis = "*"

[dev-packages]
pytest-django = "*"
black = "==20.8b1"
flake8 = "*"
isort = "*"
pre-commit = "*"
autopep8 = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest-helpers-namespace = "*"

[requires]
python_version = "3.8"
