[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "~=1.1"
django = "~=2.2"
boto3 = "*"
bpython = "*"
django-cache-machine = "*"
django-cors-headers = "*"
django-jet = "*"
django-storages = "*"
django-tenant-schemas = "*"
psycopg2-binary = "*"
python-memcached = "*"
redis = "*"
asgi-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
