asgi-redis
bitstring
boto3
bpython
channels
django
django-bower
django-redis
django-redisboard
djangorestframework
django-storages
django-tenant-schemas
ecdsa
pbkdf2
psycopg2
requests[security]
service_identity
-e git+https://github.com/areski/django-nvd3.git@develop#egg=django-nvd3
-e git+https://github.com/areski/python-nvd3.git@develop#egg=python-nvd3
