asgi-redis
bitstring
boto3
bpython
channels
django
django-bower
django-cache-machine
django-jet
django-redis
django-redisboard
djangorestframework
django-storages
django-tenant-schemas
ecdsa
google-api-python-client==1.4.1
pbkdf2
Pillow
psycopg2
requests[security]
service_identity
-e git+https://github.com/areski/django-nvd3.git@develop#egg=django-nvd3
-e git+https://github.com/areski/python-nvd3.git@develop#egg=python-nvd3
