{% load humanize block_extras %}

<div class="row transaction spacer">
    <div class="col-md-12">
        {% with valid=tx.is_valid %}
        <div class="row tx-header {% if not valid %}invalid{% endif %}">
            <div class="col-md-6 tx-id">
                {{ tx.index }} : {{ tx.tx_id }}
            </div>
            <div class="col-md-6 text-right tx-time">
                {{ tx.time }}
            </div>
        </div>
        {% endwith %}
        <div class="row tx-short-body spacer">
            <div class="col-md-6 short-inputs">
                {% with inputs=tx.address_inputs %}
                    {% for address in inputs %}
                        <div class="row">
                            {{ inputs|get_item:address|floatformat:4|intcomma }} <span class="glyphicon glyphicon-arrow-right"></span> {{ address }}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="col-md-6 short-outputs word-wrap">
                {% with outputs=tx.address_outputs %}
                    {% for address in outputs %}
                        <div class="row">
                            {{ address }} <span class="glyphicon glyphicon-arrow-right"></span> {{ outputs|get_item:address|floatformat:4|intcomma }}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
