{% load humanize %}

<div class="col-md-4">
    <div class="row">
        <div class="col-md-12 text-center">
            Award {{ grant.amount|floatformat:4|intcomma }} to <a href="{% url 'address' address=grant.address %}">{{ grant.address }}</a>
        </div>
        {% if grant.granted %}
        <div class="col-md-12 text-center">
            Granted in block <a href="{% url 'block' block_height=grant.granted.height %}">{{ grant.granted.height }}</a>
        </div>
        {% endif %}
    </div>
</div>
