<td class="height"><a href="{% url 'block' block.height %}">{{ block.height }}</a></td>
<td class="hash">{{ block.hash|slice:":8" }}</td>
<td class="time">{{ block.time|timesince }}</td>
<td class="transactions">{{ block.transactions.all.count }}</td>
<td class="coinage">{{ block.coinage_destroyed }}</td>
<td class="valid">
    {% if block.is_valid %}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {% else %}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {% endif %}
</td>
