{% load humanize %}

<div class="col-md-3">
    <div class="row text-center">
        <strong>{{ park_rate.coin }}</strong>
    </div>
    <table id="{{ park_rate.coin }}_rates" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td class="text-center">Period (approx)</td>
                <td class="text-center">% APR</td>
                <td class="text-center">Return on 1000 {{ park_rate.coin }}</td>
            </tr>
        </thead>
        <tbody>
            {% for rate in park_rate.rates.all %}
                <tr>
                    <td>{{ rate.days }} days ({{ rate.years }} years)</td>
                    <td>{{ rate.rate }} %</td>
                    <td>{{ rate.overall_return }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
