{% load humanize %}

<tr>
    <td class="motion-hash text-right">{{ motion.hash }}</td>
    <td class="votes text-right">{{ motion.number_of_votes }}<br />({{ motion.vote_percentage }}%)</td>
    <td class="coinage text-right">{{ motion.sharedays_destroyed }}<br />({{  motion.sharedays_percentage }}%)</td>
    <td class="motioned text-right">{% if motion.motioned %}<a href="{% url 'block' block_height=motion.motioned.height %}">{{ motion.motioned.height }}</a>{% else %} - {% endif %}</td>
</tr>
