{% load humanize block_extras %}

<div class="row transaction spacer">
    <div class="col-md-12">
        {% with valid=tx.is_valid %}
        <div class="row tx-header {% if not valid %}invalid{% endif %}">
            <div class="col-md-6 tx-id">
                {{ tx.index }} : {{ tx.tx_id }}
                {% if not valid %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="tx_pk" value="{{ tx.pk }}" />
                        <button type="submit">Validate</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-6 text-right tx-time">
                {{ tx.time }}
            </div>
        </div>
        {% endwith %}
        <div class="row tx-info spacer">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    {% if not tx.is_coinbase %}
                        <div class="col-md-3 coin">
                            Coin: {{ tx.coin.name }}
                        </div>
                        <div class="col-md-3 total-input">
                            Total Input: {{ tx.total_input|floatformat:4|intcomma }} {{ tx.coin.code }}
                        </div>
                        <div class="col-md-3 total-input">
                            Total Output: {{ tx.total_output|floatformat:4|intcomma }} {{ tx.coin.code }}
                        </div>
                        <div class="col-md-3 balance">
                            Balance: {{ tx.balance|floatformat:4|intcomma }} {{ tx.coin.code }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row tx-extra-detail spacer full-detail-{{ tx.tx_id }}">
            <div class="col-md-6 inputs">
                {% for tx_input in tx.inputs.all %}
                    {% include 'explorer/fragments/tx_input.html' %}
                {% endfor %}
            </div>
            <div class="col-md-6 outputs word-wrap">
                {% for tx_output in tx.outputs.all %}
                    {% include 'explorer/fragments/tx_output.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-12 text-center">
                <a class="show-extra-detail" data="{{ tx.tx_id }}">More Detail</a>
            </div>
        </div>
        <div class="row tx-short-body spacer min-detail-{{ tx.tx_id }}">
            <div class="col-md-5 col-md-offset-1 short-inputs">
                {% with inputs=tx.address_inputs %}
                    {% for address in inputs %}
                        <div class="row">
                            {{ inputs|get_item:address|floatformat:4|intcomma }}
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            <a href="{% url 'address' address %}" class="output-address">{{ address }}</a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="col-md-5 col-md-offset-1 short-outputs word-wrap">
                {% with outputs=tx.address_outputs %}
                    {% for address in outputs %}
                        <div class="row">
                            <a href="{% url 'address' address %}" class="output-address">{{ address }}</a>
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            {{ outputs|get_item:address|floatformat:4|intcomma }}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
