body {
    background-color: #2C4055;
    color: #FFFFFF;
}

.coin-info {
    background-color: #4a6076;
    color: #FFFFFF;
}

.menu nav a {
    color: #FFFFFF;
}

.menu nav a:visited {
    color: #FFFFFF;
}

.menu nav a:hover {
    text-decoration: none;
}

.menu nav a:hover span {
    color: #3BBA85;
    text-decoration: none;
}

.menu {
    background-color: #2C4055;
    color: #FFFFFF;
}

.search input {
    color: #2C4055;
}

.search button {
    background-color: #2C4055;
    color: #FFFFFF;
}

.search button:hover {
    color: #3BBA85;
}

.search-input:focus {
    border-color: #2C4055;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px #3BBA85;
    outline: 0 none;
}

.block-title {
    border-color: #2C4055;
    background-color: #2C4055;
    color: #FFFFFF;
}

.valid {
    border-color: #3BBA85;
}

.in-valid {
    border-color: #ef3614;
}
