/*
Global
*/

.word-wrap {
    white-space: normal;
    word-break: break-all;
}

.spacer {
    margin-top: 15px;
}

.a {
    color: #0074a0;
}

/*
Info Panel
 */

.info-panel {
    /*min-height: 100vh;*/
}

.chain-logo {
    height: 8vh;
}

.chain-logo-img {
    margin: auto;
    top: 5px;
    position: relative;
    height: 64px;
    width: auto;
}

#chain-data, .coin-info {
    border-radius: 6px;
    padding: 3px;
    margin: 0 auto 4px;
    width: 90%;
}

.coin-code {
    width: 100%;
    font-size: 110%;
    font-weight: 700;
    margin-top: 2px;
}

.coin-data .data {
    font-size: 80%;
}

.info-label {
    width: 100%;
    font-size: 100%;
    margin-top: 3px;
}

#chain-data .info-label {
    font-weight: 700;
}

/*
Menu
 */
nav {
    min-height: 4vh;
    position: relative;
    left: 10px;
}

nav a {
    display: inline-block;
    font-size: 130%;
    font-weight: 700;
    padding: 5px 10px;
    position: relative;
    border-radius: 6px;
}

.menu {
    height: auto;
    padding-bottom: 15px;
}

.search button {
    border: none;
    outline: none;
}

.search-input {
    width: 70%;
    border: 0;
}

.search-input:focus {
    outline: 0 none;
}


/*
Blocks
 */
#main-content {
    padding: 10px;
    background: #fefefe;
    color: #353535;
    min-height: 100vh;
    border-radius: 6px 0 0 0;
}

.pagination {
    margin: 0;
    padding: 5px;
    display: block;
}

.latest-blocks-container {
    height: 600px;
    overflow-y: scroll;
    border-radius: 5px;
}

.previous-block-link {
    float: left;
}

.next-block-link {
    float: right
}

.block-title {
    border: 3px solid;
    border-radius: 6px;
    padding: 10px;
}

.block-label {
    font-size: 120%;
    font-weight: 700;
}

.block-data {
}

.transaction {
    float: none;
    padding-bottom: 20px;
}

.tx-header {
    min-height: 30px;
    border: 1px solid black;
}

.invalid {
    border: darkred 2px solid;
}

.tx-extra-detail {
    display: none;
}

.show-extra-detail {
    color: #0074a0;
    font-weight: 600;
    cursor: pointer;
}

.tx-input, tx-output {
    width: 100%;
}

.index {
    font-size: 80%;
}

.output-asm {
    font-size: 75%;
}

.output-non-standard {
    font-size: 80%;
}

.loading-indicator {
    display: none;
}
