{% extends 'base.html' %}

{% load humanize static %}

{% block title %}
Address Details
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Address <span id="address">{{ object.address }}</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5, col-md-offset-1">
            Balance = <span id="balance"></span>
        </div>
    </div>
    <div class="row">
        <div id="transactions" class="col-md-10 col-md-offset-1">

        </div>
    </div>
{% endblock %}

{% block afterbody %}
    <script type="text/javascript" src="{% static 'explorer/js/get_address_transactions.js' %}"></script>
{% endblock %}
