{% extends 'base.html' %}

{% load humanize static %}

{% block title %}
Latest Blocks
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% include 'pagination.html' %}
        </div>
    </div>
    <div class="row spacer">
        <div class="col-md-12">
            <table id="latest-blocks-table" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <td>Height</td>
                        <td>Hash</td>
                        <td>Age</td>
                        <td>Num. Trans</td>
                        <td>SDD</td>
                        <td>Valid</td>
                    </tr>
                </thead>
                <tbody>
                    {% for block in object_list %}
                        <tr class="{% if not block.is_valid %}warning{% endif %}">
                            {% include 'explorer/fragments/block.html' %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {% include 'pagination.html' %}
        </div>
    </div>
{% endblock %}
