<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'explorer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'explorer/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'explorer/css/main.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src='{% static "channels/js/websocketbridge.js" %}'></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 text-center info-panel">
                <a href="{% url 'index' %}">
                    <img src="{% static 'explorer/images/nu-logo.png' %}" class="img-responsive chain-logo" />
                </a>
                <div id="info-connections">Connections: <span class="data">7</span></div>
                <div id="info-height">Height: <span class="data">7</span></div>
                {% for coin in coins %}
                    <div class="coin-info">
                        <div class="coin-code">{{ coin.code }}</div>
                        <div id="{{ coin.code }}-supply" class="coin-data">Supply: <span class="data"></span></div>
                        <div id="{{ coin.code }}-parked" class="coin-data">Parked: <span class="data"></span></div>
                        <div id="{{ coin.code }}-fee" class="coin-data">Fee: <span class="data"></span></div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-10">
                <div class="row menu">
                    <nav>
                        <a href="#">Charts</a>
                        <a href="#">Motions</a>
                        <a href="#">Grants</a>
                    </nav>
                    <div class="search">
                        <input type="text" name="search" />
                    </div>
                </div>
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src='{% static 'explorer/js/update_info.js' %}'></script>
{% block afterbody %}
{% endblock %}
</html>
