{% extends 'explorer/base.html' %}

{% block title %}
Nu Block Explorer
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Block {{ object.height }} - {{ object.hash }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            {% if object.previous_block %}
                <a href="{% url 'block' object.previous_block.height %}">Previous Block</a>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            <a href="{% url 'block' object.height %}">Refresh this Block</a>
        </div>
        <div class="col-md-4 text-right">
            {% if object.next_block %}
                <a href="{% url 'block' object.next_block.height %}">Next Block</a>
            {% endif %}
        </div>
    </div>
    <div class="row transactions">
        <div class="col-md-10 col-md-offset-1">
            {% for tx in object.transactions.all %}
                {% include 'explorer/fragments/transaction.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
