{% extends 'base.html' %}

{% block title %}
Charts
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% for url in urls %}
                    <div class="col-md-3">
                        <div class="row">
                            <h3>
                                <a href="{% url url.1 %}">{{ url.0 }}</a>
                            </h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
