{% extends 'base.html' %}

{% load humanize static %}

{% block title %}
Custodial Grants
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h4>Custodial Grants active over last 10000 blocks</h4>
            <div class="latest-blocks-container">
                <table id="latest-blocks-table" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td class="text-right">Address</td>
                            <td class="text-right">Amount</td>
                            <td class="text-right">First Seen</td>
                            <td class="text-right">Votes</td>
                            <td class="text-right">SDD</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grant in grants %}
                            <tr>
                                {% include 'explorer/fragments/grant.html' %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5><a href="{% url 'blocks' %}">All Blocks</a></h5>
        </div>
    </div>
{% endblock %}
