{% extends 'base.html' %}

{% block title %}
Network Health
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <td class="text-right">Address:Port</td>
                        <td class="text-right">Height</td>
                        <td class="text-right">Sub Version</td>
                        <td class="text-right">Last Receive</td>
                        <td class="text-right">Last Send</td>
                    </tr>
                </thead>
                <tbody>
                    {% for peer in peers %}
                        <tr>
                            <td class="text-right">{{ peer.address }}:{{ peer.port }}</td>
                            <td class="text-right">{{ peer.height }} <span class="{% if peer.height_diff < 0 %}label label-danger{% elif peer.height_diff > 0 %}label label-success{% endif %}">{{ peer.height_diff }}</span></td>
                            <td class="text-right">{{ peer.sub_version }}</td>
                            <td class="text-right">{{ peer.last_receive|date:"o-m-d H:i:s T" }} {% if peer.last_receive %}({{ peer.last_receive|timesince }}){% endif %}</td>
                            <td class="text-right">{{ peer.last_send|date:"o-m-d H:i:s T" }} {% if peer.last_send %}({{ peer.last_send|timesince }}){% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
