{% extends 'base.html' %}

{% load humanize static %}

{% block title %}
Latest Blocks
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h4>50 Latest Blocks on the {{ chain }} blockchain</h4>
            <div class="latest-blocks-container">
                <table id="latest-blocks-table" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td class="text-right">Height</td>
                            <td class="text-right">Hash</td>
                            <td class="text-right">Age</td>
                            <td class="text-right">Num. Trans</td>
                            <td class="text-right">SDD</td>
                            <td class="text-right">Valid</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for block in object_list %}
                            <tr class="{% if not block.is_valid %}warning{% endif %}">
                                {% include 'explorer/fragments/block.html' %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5><a href="{% url 'blocks' %}">All Blocks</a></h5>
        </div>
        {% if active_park_rates %}
            <div class="col-md-5 col-md-offset-1">
                <h4>Current Park Rates</h4>
                <div class="row">
                    {% for park_rate in active_park_rates %}
                        <div class="col-md-4">
                            <div class="row text-center">
                                {{ park_rate.coin }}
                            </div>
                            <div class="row text-center">
                                {% for rate in park_rate.rates.all %}
                                    <div class="col-md-12">
                                        {{ rate.blocks }} blocks - {{ rate.rate }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block afterbody %}
    <script>
        $(function() {
            const webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect('/latest_blocks_list/');

            var latest_blocks_table_rows = $("#latest-blocks-table>tbody tr");
            var first_row = $("#latest-blocks-table>tbody tr:first");

            webSocketBridge.socket.addEventListener('open', function() {
                webSocketBridge.stream('get_active_park_rates').send(
                    {'host': window.location.hostname}
                );
                webSocketBridge.listen(function (data, channel) {
                    var message_type = data["message_type"];

                    if (message_type === "new_block") {
                        var block_html = data["block_html"];
                        first_row.before(block_html);
                    }

                    if (message_type === "update_block") {
                        var index = data["index"];
                        var block_html = data["block_html"];
                        var block_is_valid = data["block_is_valid"];
                        var row = latest_blocks_table_rows.eq(index);
                        row.fadeOut('fast', function () {
                            if (block_is_valid) {
                                row.removeClass("warning")
                            } else {
                                row.addClass("warning")
                            }
                            row.html(block_html).fadeIn('fast')
                        });
                    }

                });
            });
        });
    </script>
{% endblock %}
