{% extends 'explorer/base.html' %}

{% load humanize static %}

{% block title %}
Nu Block Explorer
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table id="latest-blocks-table" class="table">
                <thead>
                    <tr>
                        <td>Height</td>
                        <td>Hash</td>
                        <td>Age</td>
                        <td>Num. Trans</td>
                        <td>SDD</td>
                        <td>Valid</td>
                    </tr>
                </thead>
                <tbody>
                    {% for block in object_list %}
                        <tr>
                            {% include 'explorer/fragments/block.html' %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block afterbody %}
    <script type="text/javascript" src='{% static 'explorer/js/latest_blocks_list.js' %}'></script>
{% endblock %}
